body {
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    
}

header {
    display: block;
    /* background-image: url("./assets/elsa-olofsson-Pm0K9Y3EPUc-unsplash.jpg");
    background-size:cover; */
}

.nav-container {
    display: flex;
    flex: 1;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(210,216,216,0.6);
   
}

.nav-container img {
    width: 50%;
    border-radius: 10px;
    margin-left: 50px;
    
}

.nav-links {
    display: flex;   
    flex: 1 1 auto;
    justify-content:space-between;
    gap: 10em;
    /* background-color: pink; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
   
}

.nav-links li {
    transition: background-color 1s;
}

.nav-links li:hover {
    color: orange;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
}

.nav-links ul li {
    margin-left: 200px;
    
}

.nav-links button {
    border: grey;
    height: auto;
    width: 150px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(121,205,207);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    margin-right: 50px;
    transition: background-color 1s;
     
}

.nav-links button:hover {
    background-color: rgb(236, 185, 90);

}



.header-container {
    display: flex;
    justify-content:space-evenly;
    margin: 70px;
}



.header-content {
    color: rgb(59,64,56);
    /* color: rgb(48,34,34); */
    
    /* font-family: "Austin Web","Garamound","Times","Times New Roman",serif; */
    font-family:'Montserrat', sans-serif;
    font-size: 200%;
    width: 50%;
}

.header-container .header-content .sign-up-button {
    height: 75px;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(121,205,207);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    transition: background-color 1s;
        
}


.header-container .header-content .sign-up-button:hover {
    background-color: rgb(236, 185, 90);

}


/* .sign-up {
    width: 40px;
    border-radius: 50px;
    background-color: brown;
} */

/* .heros {

   
} */

/* .header-content h2 {
    font-size: larger;
} */

.heros img {
   width: 100%;
   height: auto;
   justify-content: center;
    align-items: center;
    border-radius: 30px;
    
  
}


main h2 {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
}

.store-image-container {
    display: flex;
}

.store-image-content {

    justify-content: center;
    margin: 60px 60px 60px 60px
    
}

.store-image-content img {
    max-width: 100%;
    border-radius: 20px;
}

.store-image-content p {
    text-align:left;
    width: 100%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}

.blockquote-container {
    background-color: #e5e7eb;
    padding: 10%;
}

.blockquote-container blockquote {
    font-family:'Montserrat', sans-serif;
    font-size: 30px;   
    text-align: center;
}

.footer-container {
    margin-top: 10%;
    background-color: rgb(253,228,205);
    margin: 10% 15%;
    padding: 3%;
    font-family:'Montserrat', sans-serif;
    font-size: 30px;   
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    
}

.footer-container div button {
    background-color: pink;
    position: relative;
    top: 55px;
    left: 60px;


    height: 75px;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(121,205,207);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    transition: background-color 1s;
        
}

.footer-container div button:hover {
    background-color: rgb(236, 185, 90);

}




.copyright-div {
    background-color: rgb(183,102,75);
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

