body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-image: url("./assets/elsa-olofsson-Pm0K9Y3EPUc-unsplash.jpg");
    background-size:cover;
}

.nav-container {
    display: flex;
    flex: 1;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(210,216,216,0.6)
}

.nav-container img {
    width: 50%;
    border-radius: 10px;
    
}

.nav-links {
    display: flex;   
    flex: 1 1 auto;
    justify-content:space-between;
    gap: 10em;
    /* background-color: pink; */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links li:hover {
    color: orange
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
}

.nav-links ul li {
    margin-left: 200px;
    
}

.nav-links button {
    border: grey;
    height: auto;
    width: 150px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(214, 210, 210);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6)
     
}



.header-container {
    display: flex;
    justify-content:space-evenly;
    margin: 70px;
}



.header-content {
    color: rgb(59,64,56);
    /* color: rgb(48,34,34); */
    
    /* font-family: "Austin Web","Garamound","Times","Times New Roman",serif; */
    font-family:'Montserrat', sans-serif;
    font-size: 200%;
    width: 50%
};

.sign-up {
    width: 40px;
    border-radius: 50px;
    background-color: brown;
}

.heros {
    border-radius: 20%;
    /* position: absolute; */ 
}

/* .header-content h2 {
    font-size: larger;
} */

.heros img {
   width: 100%;
   height: auto;
   justify-content: center;
    align-items: center;
  
}

